body{
    font-family: 'Roboto';
    background: #eee;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
  }
  input:focus, textarea:focus, select:focus{
    outline: none;
}
::-webkit-scrollbar {
  width: 0px;
   background: transparent;
}
.left {
  position: absolute;
  width: 100px;
  top: 0;
  bottom: 0;
  background: linear-gradient(to right , #eeeeee , #eeeeee , #eeeeee, #eeeeee 70%, #eeeeee54);;
  opacity: 0.9;
}
.right{
  right: 0;
  position: absolute;
  width: 100px;
  top: 0;
  bottom: 0;
  background: linear-gradient(to right , #eeeeee54 0% , #eeeeee 50% , #eeeeee, #eeeeee 100% , #eeeeee 120%);;
  opacity: 0.9;
}
